{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container px-4" id="mobile-container">
  <form method="POST" action="{% url 'new_trip' %}">
    {% csrf_token %}
    <div class="mt-4">
      <text class="text-header">Add item</text>
    </div>
    <div class="mt-4">
      <label for="searchTextField" class="form-label text-header">Name of item</label>
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" name="name" placeholder="item-name" required>
      </div>
    </div>
    <div class="mt-4">
      <label for="searchTextField" class="form-label text-header">What day do you arrive?</label>
      <div class="input-group input-group-sm mb-3">
        <input type="date" class="form-control" name="date" id="date" required>
      </div>
    </div>

    <div class="mt-4">
      <label for="number_items" class="form-label text-header">Add to which activiy?</label>
      <div class="row g-3 mt-1">
        {% for activity in activities %}
        <div class="col-4">
          <label class="card card-shadow card-activity" for="activity-{{ activity }}">
            <input type="checkbox" class="btn-check" name="activities" value="{{ activity }}"
              id="activity-{{ activity }}">
            <div class="card-body p-1 d-flex flex-column justify-content-center align-items-center">
              <text class="text-activities align-middle">{{ activity }}</text>
            </div>
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="text-center">
      <button class="btn button-hover button-shadow border-0 mt-4">
        <text class="text-normal">+ Add item</text>
      </button>
    </div>
  </form>

  <script defer type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyABt5_xdXjRl4pFDKfdUtAM4Bv5lgt1vo8&libraries=places"></script>
  <script defer type="text/javascript" src="/static/javascript/trip_form.js"></script>

  {% endblock %}