{% extends 'base.html' %}
{% block content %}

<div class="container px-4 mt-5" id="mobile-container">
  <text class="text-login-page">Hi,<br>traveller!</text>
  <form method="POST" class="mt-2" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="login-username" class="form-label mb-1">Username</label>
      <input type="text" class="form-control" id="login-username" aria-describedby="username" name="username" required>
    </div>
    <div class="mb-3">
      <label for="login-password" class="form-label mb-1">Password</label>
      <input type="password" class="form-control" id="login-password" name="password" required>
    </div>
    <div class="d-grid">
      <input type="submit" class="btn py-2 mt-2 button-shadow button-primary button-height text-header" value="Login">
      <input type="hidden" name="next" value="{{ next }}">
    </div>
  </form>
  <p class="text-center text-muted my-2">or</p>
  <div class="d-grid">
    <a href="{% url 'signup' %}" class="btn rounded-pill py-2 button-shadow button-height">
      <text class="text-header">Sign Up</text>
    </a>
  </div>
  {% comment %} <p class="text-center text-muted my-2">or</p>
  <div class="d-grid">
    <a href="#" class="btn rounded-pill py-2 mb-2 button-shadow button-height">
      <text class="text-header">Continue with Facebook</text>
    </a>
  </div>
  <div class="d-grid">
    <a href="#" class="btn rounded-pill py-2 mb-2 button-shadow button-height">
      <text class="text-header">Continue with Facebook</text>
    </a>
  </div> {% endcomment %}
</div>

{% endblock %}