{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5" id="index-container">
    <div class="container" id="mobile-container">
        <div class="d-grid">
            <h4>Your profile</h4>
            Here are all of your current and past trips
            <hr />
            {% if mytrips %}
            {% for trip in mytrips %}
            <div>
                {{ trip.city }} - {{ trip.country }}<br>
                {{ trip.date }}<br>
                {% if trip.travelers == True %}
                {{ trip.travelers }}
                {% else %}
                No travel companions
                {% endif %}
                {{ trip.activity }}
            </div><br>
            {% endfor %}
            {% else %}
            <div>
                You have no trips yet
            </div>
            {% endif %}
            <br>

            Here are all of your created items
            <hr />
            {% if myitems %}
            {% for item in myitems %}
            <div>
                name: {{ item.name }}<br>
                location: {{ item.city }}<br>
                season: {{ item.season }}<br>
                current vote: {{ item.vote }}<br>
            </div><br>
            {% endfor %}
            {% else %}
            <div>
                You have no created items yet
            </div><br>
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}