{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pack'd</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>
      <nav>
        <div class="navbar navbar-inverse">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">Pack'd</a>
          </div>
          <ul>
            <li><a href="{% url 'search_city' %}">Search</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
          </ul>
        </idv>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>