{% extends 'base.html' %}
{% block content %}
{% load static %}

  <div class="container px-4 mt-5" id="mobile-container">
    {% if user.is_authenticated == False %}
      <div class="d-grid">
        <div class="">
          <text class="text-login-page">Welcome!</text><br>
          <text>Plan your first trip</text>
        </div>
        <hr />
        <div class="d-grid">
          <a href="{% url 'new_trip' %}" class="btn rounded-pill py-2 mt-4 button-shadow button-primary button-height">
            <text class="text-header">Plan a new trip</text>
          </a>
        </div>
      </div>
    {% else %}
      <div class="d-grid">
        <div class="">
          <text class="text-login-page">Welcome back!</text><br>
          <text>Here are your upcoming trips</text>
        </div>
        <hr/>
        {% for trip in trips %}
        <div class="card card-shadow border-0 my-2">
          <div class="card-body">
            <div class="d-flex">
              <div class="me-0">
                <text class="text-header">{{ trip.trip.city }}, {{ trip.trip.country }}</text>
              </div>
              <div class="ms-auto d-flex score-div">
                <text class="text-normal-black">{{ trip.trip.date }}</text>
              </div>
            </div>
            <ol class="text-small ps-4 pe-2 my-0">
              <li class="my-1">
                  <div class="row">
                    <div class="col-7">
                      {% if user.name %} 
                        <text class="text-small ms-2">{{ user.first_name }} {{ user.last_name }}</text>
                      {% else %}
                        <text class="text-small ms-2">{{ user.username }}</text>
                      {% endif %}
                    </div>
                    {% comment %} <div class="col-5 text-end">
                      <text class="text-small text-end me-2">{{ traveler.gender }}, {{ traveler.age }}</text>
                    </div> {% endcomment %}
                  </div>
                </li>
              {% for traveler in trip.travelers %}
              <li class="my-1">
                <div class="row">
                  <div class="col-7">
                    <text class="text-small ms-2">{{ traveler.name }}</text>
                  </div>
                  <div class="col-5 text-end">
                    <text class="text-small text-end me-2">{{ traveler.gender }},&nbsp;&nbsp;{{ traveler.age }}</text>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ol>
          </div>
        </div>
        {% endfor %}
        <div class="d-grid">
          <div class="text-center">
            <button class="btn button-hover px-4 button-shadow border-0 mt-2">
              <text class="text-normal">View All Trips</text>
            </button>
          </div>
          <a href="{% url 'new_trip' %}" class="btn rounded-pill py-2 mt-5 button-shadow button-primary button-height">
            <text class="text-header">Add New Trip</text>
          </a>
          <a href="{% url 'new_trip' %}" class="btn rounded-pill py-2 mt-3 button-shadow button-height">
            <text class="text-header">View Past Trips</text>
          </a>
        </div>
      </div>
    {% endif %}
  </div>

{% endblock %}