{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container px-4" id="mobile-container">
    <form method="POST" action="{% url 'results' %}">
        {% csrf_token %}
        <div class="mt-4">
            <label for="searchTextField" class="form-label text-header">Where are you going?</label>
            <div class="input-group input-group-sm mb-3">
                <input type="search" class="form-control" name="search" id="searchTextField" required>
            </div>
        </div>

        <div class="mt-4">
            <label for="number_items" class="form-label text-header">How much do you want to pack?</label>
            <div class="row g-3 mt-1">
                <div class="col-4 ">
                    <label class="card card-shadow card-packing" for="number_items_light">
                        <input type="radio" class="btn-check" name="number_items" value="10" id="number_items_light">
                        <div class="card-body p-2 text-center">
                            <div>
                                <text class="text-card-title">Light</text>
                            </div>
                            <div>
                                <text class="text-card-normal">Less than 10 items</text>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="col-4">
                    <label class="card card-shadow card-packing card-packing-active" for="number_items_medium">
                        <input type="radio" class="btn-check" name="number_items" value="15" id="number_items_medium"
                            checked>
                        <div class="card-body p-2 text-center">
                            <div>
                                <text class="text-card-title">Medium</text>
                            </div>
                            <div>
                                <text class="text-card-normal">10 - 15<br>items</text>
                            </div>
                        </div>
                    </label>
                </div>
                <div class="col-4">
                    <label class="card card-shadow card-packing" for="number_items_heavy">
                        <input type="radio" class="btn-check" name="number_items" value="20" id="number_items_heavy"
                            checked>
                        <div class="card-body p-2 text-center">
                            <div>
                                <text class="text-card-title">Heavy</text>
                            </div>
                            <div>
                                <text class="text-card-normal">15 - 20<br>items</text>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
       
        <div class="d-grid mt-2">
            <button type="submit" class="btn rounded-pill py-2 mt-4 button-shadow button-primary">
                <text class="text-card-title">Generate List</text>
            </button>
        </div>

    </form>


    <script defer type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyABt5_xdXjRl4pFDKfdUtAM4Bv5lgt1vo8&libraries=places"></script>
    <script defer type="text/javascript" src="/static/javascript/trip_form.js"></script>

    {% endblock %}