/* Global */
HTML:root {
    --background: #FFFFFF;
    /* --nav: #087E8B; */
    --nav: #BFD7EA;
    --button-primary: #edcd62;
    --button-secondary: #BFD7EA;
    --score-default: #16056B;
    --score-up: #BFD7EA;
    --score-down: pink;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.text-normal {
    color: #16056B;
    font-size: 14px;
}

.text-normal-bold {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #16056B;
}

.text-normal-indent {
    margin-left: 20px;
}

.card-shadow,
.button-shadow {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.h2 {
    font-weight: bold;
}

header {
    z-index: 10;
}

.button-primary {
    background-color: var(--button-primary);
}

.button-hover:hover {
    background-color: #edcd62;
}

/* Top Nav */
#top-nav {
    background-color: var(--nav);
}

#top-nav-right>li>a {
    color: black;
    opacity: .5;
}

#top-nav-right>li>a:hover {
    opacity: .8;
}

/* Side Nav */
#side-nav-container {
    text-decoration: none;
    transition: 0.5s;
    height: 200vh;
    width: 0px;
    position: absolute;
    z-index: 0;
}

#side-nav {
    top: 0;
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    color: rgb(110, 110, 110);
    list-style-type: none;
    background-color: var(--nav);

}

#side-nav>ul {
    display: none;
    list-style-type: none;
    margin: 40px 10px 20px 0px;
    white-space: nowrap;
}

#side-nav li {
    display: flex;
    align-items: flex-end;
    height: 50px;
}

#side-nav img {
    margin-right: 10px;
}

#content {
    transition: .5s;
}


/* Containers */
#mobile-container {
    min-width: 270px;
    max-width: 420px;
}

#index-container {
    min-width: 270px;
    max-width: 840px;
}

/* Packing List Item */
.score-div {
    width: 90px;
}

.score-value {
    margin-top: auto;
}

.score-up:hover {
    cursor: pointer;
    color: var(--score-up);
    fill: var(--score-up);
}

.score-down:hover {
    cursor: pointer;
    color: var(--score-down);
    fill: var(--score-down);
}

.score-up-post {
    color: var(--score-up);
    fill: var(--score-up);
}

.score-down-post {
    color: var(--score-down);
    fill: var(--score-down);
}